 @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

 body {
     font-family: 'Varela Round', sans-serif;
     background-color: #f4f4f4;
     margin: 0;
     padding: 0;
 }

 .container {
     display: flex;
     max-width: 1200px;
     margin: 0 auto;
     padding: 20px;
 }

 .video-section {
     flex: 3;
     margin-right: 20px;
 }

 .video-player iframe {
     width: 100%;
     height: 600px;
     /* Increased height for better visibility */
     border-radius: 8px;
     border: none;
 }

 .video-details {
     margin-top: 10px;
 }

 .video-details h1 {
     font-size: 24px;
     color: #333;
 }

 .sidebar {
     flex: 1;
     max-width: 300px;
 }

 .course-content h2 {
     font-size: 20px;
     color: #333;
     margin-bottom: 20px;
 }

 .accordion {
     background-color: #eee;
     color: #444;
     cursor: pointer;
     padding: 15px;
     width: 100%;
     text-align: left;
     border: none;
     outline: none;
     transition: 0.4s;
     font-size: 18px;
     border-radius: 4px;
     margin-bottom: 5px;
 }

 .accordion.active,
 .accordion:hover {
     background-color: #ccc;
 }

 .panel {
     padding: 0 18px;
     display: none;
     background-color: white;
     border-radius: 4px;
 }

 .panel p {
     margin: 10px 0;
 }

 .video-link {
     display: block;
     background-color: #fff;
     color: #444;
     cursor: pointer;
     padding: 12px;
     border: none;
     outline: none;
     transition: 0.3s;
     font-size: 16px;
     margin: 5px 0;
     border-radius: 4px;
 }

 .video-link:hover {
     background-color: #ddd;
 }

 /* Notes Section Styling */
 .notes-section {
     margin-top: 20px;
     padding: 20px;
     background-color: #ffffff;
     border-radius: 8px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }

 .notes-section h2 {
     font-size: 22px;
     margin-bottom: 10px;
     color: #333;
 }

 #noteInput {
     width: 100%;
     height: 100px;
     padding: 10px;
     font-size: 16px;
     border-radius: 4px;
     border: 1px solid #ccc;
     box-sizing: border-box;
     margin-bottom: 10px;
     resize: none;
 }

 #saveNoteBtn {
     background-color: #4CAF50;
     color: white;
     border: none;
     padding: 10px 20px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin-top: 10px;
     border-radius: 4px;
     cursor: pointer;
     transition: background-color 0.3s;
 }

 #saveNoteBtn:hover {
     background-color: #45a049;
 }

 #notesList {
     list-style-type: none;
     padding: 0;
 }

 #notesList li {
     background-color: #f9f9f9;
     border: 1px solid #ddd;
     padding: 10px;
     margin-bottom: 5px;
     border-radius: 4px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 }